-r requirements-api.txt
ultralytics>=8.1.0
facenet-pytorch>=2.5.3
torch>=2.0.0
torchvision>=0.15.0
onnxruntime-directml>=1.16.0 ; sys_platform == 'win32'
onnxruntime>=1.16.0 ; sys_platform != 'win32'
onnx>=1.14.0
onnxsim>=0.4.33
